---
project: microservice
environments:
  - name: dev
    namespace: sample-app
    deployment:
      method: rolling-upgrade
    services:
      - name: springboot-app
        external_url: front.sample-app.domain
        ssl: false
        port: 80
        version 0.0.1
